body {
    font-family: Arial;
    height: 100%;
    padding: 0px;
    margin: 0px;

}

.registration-form {
    width: 100%;
}

.fle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
    width: 100%;
}

.registration-formm {
    width: 100%;
}

.registration-formm .form {
    background-color: #345b79;
    max-width: 600px;
    margin: auto;
    padding: 10px 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.075);
}

.registration-formm .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}


.registration-formm .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-left: 220px;
}

.registration-formm .social-mediaa {
    max-width: 600px;
    background-color: #345b79;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #ffffff;
    border-bottom: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-formm .social-mediaa h3 {
    padding: 10px;
}

@media (max-width: 576px) {
    .registration-form form {
        padding: 50px 20px;
    }

    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

@media (max-width: 576px) {
    .registration-formm form {
        padding: 50px 20px;
    }

    .registration-formm .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

.registration-form form {
    background-color: #345b79;
    max-width: 600px;
    margin: auto;
    padding: 10px 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.075);
}



.registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}


.registration-form .create-account {
    font-weight: bold;
    background-color: #eff1f3;
    border: none;
    color: #345b79;

    padding: 0.9VW;
    font-size: 1.2VW;
    border-radius: 2vw;
    margin-bottom: 1em;
    width: auto;
    margin-left: calc(80%/2);

    @media (max-width: 760px) {
        font-size: 2VW;

        margin-left: calc(90%/2);

        @media (max-width: 480px) {

            font-size: 3VW;
            margin-left: calc(80%/2);
        }
    }



}

.registration-form .create-account:hover {
    background-color: #345b79;
    color: #dee9ff;
}


.registration-form .social-media {
    max-width: 600px;
    background-color: #345b79;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    color: #ffffff;

}

.invcode {
    color: red;
    padding: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10vw;


}

@media only screen and (max-width: 768px) {
    .invcode {
        margin-left: 20vw;
    }
}

@media only screen and (max-width: 480px) {
    .invcode {
        margin-left: 15vw;
        font-size: 12px;
    }
}

.resnd {

    text-align: center;

    color: #ffffff;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;

}

.resnd:hover {

    text-align: center;

    color: #0d83f8;
    list-style-type: none;
}